body {
  background-color: black;
}
.aboutContainer {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-bottom: 3%;
}
.contentContainer {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20%;
  margin-right: 20%;
}
.title {
  text-align: left;
  font-size: 48px;
  color: cyan;
  margin: auto;
  margin-bottom: 2%;
}
.pictureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profilePic {
  width: 100%;
}
.aboutMe {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  color: cyan;
  text-align: left;
  line-height: 70px;
}
@media only screen and (max-width: 1100px) {
  .contentContainer {
    margin-left: 5%;
    margin-right: 5%;
  }
  .aboutContainer {
    width: 100%;
  }
  .aboutMe {
    font-size: 20px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 600px) {
  .title {
    font-size: 24px;
  }
  .contentContainer {
    margin-left: 8%;
    margin-right: 8%;
  }
  .aboutContainer {
    width: 100%;
  }
  .aboutMe {
    font-size: 10px;
    line-height: 24px;
  }
}
